.gallery {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 60px;
  padding: 50px;
  min-height: 200px;
  background: #f6f6f6;
  border-radius: 25px;
}

@media (max-width: 769px) {
  .gallery {
    width: 100%;
    flex-direction: column;
    gap: 22px;
    padding: 0;
    background: none;
    overflow: visible;
  }
}
